* {
    margin-top: 0px;
}

.img-titulo {
    height: 75px;
}

body {
    background-image: url(./media/claro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(163, 10, 10);
    font-family: sans-serif;
    overflow: hidden;
    margin: 0px;
}

/*form*/
.area-login {
    display: flex;
    align-items: center;
    height: 83.5vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.226);
}

.login {
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 12px 0px rgba(229, 133, 133,0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.171);
    width: 355px;
    height: 320px;
    padding: 35px;
    border-radius: 15px;
}

.color{
    color:white;
}

.login form {
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.login input {
    margin-top: 10px;
    background-color: rgba(228, 167, 167, 0.829);
    border-radius: 8px;
    border: none;
    height: 55px;
    outline: none;
    padding-left: 10px;
}

input::placeholder {
    color: rgb(219, 219, 219);
    font-size: 14px;
}

form [type="submit"] {
    color: rgba(255, 255, 255, 0.884);
    display: block;
    background-color: rgba(73, 150, 29, 0.767);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/*nav-bar*/
#top {
    background-color: rgba(175, 15, 15, 0.884);
}

#titulo {
    margin-left: 90px;
    font-size: 20pt;
    font-family: sans-serif;
    color: white;
}

/*footer*/
footer{
    backdrop-filter: blur(3px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
}

.footer {
    background: rgba(155, 26, 26, 0.616);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer span {
    text-transform: uppercase;
    opacity: .7;
    font-weight: 200;
}
